/* .Home{
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
}
.sidebar a{
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
}

.sidebar{
    position: relative;
    width: 20%;
    height: 100%;
    background-color: #343434;
}
.view{
    position: relative;
    width: 80%;
    height: 100%;
} */


.dom{
    display: inline;
}

